*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    background-image: url('../image/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transform-style: preserve-3d;
}

.terra{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width:300px;
    height:300px;
    background-image: url('../image/image.jpg');
    background-size: cover;
    background-repeat: repeat-x;
    border-radius: 50%;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 1),0 0 50px #4069ff;
    animation: animateworld 15s linear infinite;
}

@keyframes animateworld{
    0%{
        background-position: 0 0;
    }

    100%{
        background-position: -750px 0;
    }
}

.circulo{
    transform-style: preserve-3d;
    animation: textanimado 10s linear infinite;
}


.circulo span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transform: translateZ(-5px);
}
.circulo span{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #35146f;
    font-size: 3em;
    transform-origin: center;
    transform-style: preserve-3d;
    padding: 5px 11px;
    transform:rotateY(calc(var(--i)* calc(360deg / 43))) translateZ(200px);
    border-top: 4px solid #35146f;
    border-bottom: 4px solid #35146f;
}

@keyframes textanimado{

    0%{
        transform:perspective(1000px) rotateY(360deg) rotateX(15deg) translateY(-30px) ;
    }

    100%{
        transform:perspective(1000px) rotateY(0deg) rotateX(15deg) translateY(-30px) ;
    }
}